* {
    box-sizing: border-box;
}

body {
    background: url("../images/random_grey_variations.png");
    font-family: Arial, Helvetica, sans-serif, "Helvetica Neue";
    font-size: 18px;
    line-height: 34px;
    color: #777777;
}

.container {
    width: 960px;
    background-color: #ffffff;
}

#head {
    background-color: #ffffff;
    border: #cccccc;

}
h1
h3 {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

#logo {
    background-color: #4aaaa5;
    color: white;
}